# Ignore everything in root
/*
/*/

# Git
!.gitignore
!.gitignore_global

# Z Shell
!.zshrc

# Emacs
!.emacs
!.gnus
!.aspell.en.pws
!.emacs-themes/
!.emacs-snippets/

# NeoVim and Kitty
!.config/
.config/*
!.config/kitty/
!.config/nvim/

# Readme
!README.md
