# Ignore everything in root
/*
/*/

# Git
!.gitignore
!.gitignore_global

# Z Shell
!.zshrc

# Tmux
!.tmux.conf

# Emacs
!.emacs
!.gnus
!.aspell.en.pws
!.emacs-themes/
!.emacs-snippets/

# NeoVim and Kitty
!.config/
.config/*
!.config/kitty/
!.config/nvim/
!.vim/
.vim/*
!.vim/spell/
.vim/spell/*.spl

# Readme
!README.md
